
.infoCard{
    display: flex;
    justify-content: space-around;
}

.infoCard div{
    margin: 10px;
    color: white;
}

.infoCard div h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}

.infoCard div a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

img{
    width: 464px;
    height: 294px;
}